<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mundial 2030</title>
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="logo">
      <img height="100px" src="/img/logo mundial.jpg" />
    </div>
    <div >
      <ul class="menu-header">
        <li><a  href="/">Inicio</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/mis-entradas">Mis entradas</a></li>
      </ul>
    </div>
    <div class="header-abajo">
      <div>
        <a href="/uruguay"
          ><img class="banderas" src="\img\bandera uruguay.png"
        /></a>
      </div>
      <div>
        <a href="/chile"
          ><img class="banderas" src="\img\bandera chile.png"
        /></a>
      </div>
      <div>
        <a href="/argentina"
          ><img class="banderas" src="\img\bandera argentina.png"
        /></a>
      </div>
      <div>
        <a href="/paraguay"
          ><img class="banderas" src="\img\bandera paraguay.png"
        /></a>
      </div>
    </div>
  </header>
  <main></main>
</body>
