<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mundial 2030</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!--Estos 3 inputs son los que controlan el popup de login/registro, deben colocarse aqui para que funcionen de forma global-->
    <input class="cajitaOculta" type="radio" id="nada" name="Usuario" value="nada" checked>
    <input class="cajitaOculta" type="radio" id="login" name="Usuario" value="login">
    <input class="cajitaOculta" type="radio" id="registro" name="Usuario" value="registro">
    <header>
      <div class="logo">
        <a href="/"><img height="100px" src="https://dhgrupo12ad.alwaysdata.net/logoMundial.jpg" /></a>
      </div>
      <div>
        <ul class="menu-header">
          <li><a href="/">Inicio</a></li>
          <li><a href="/tickets">Tickets</a></li>
          <li><label class="palabrasLoginRegistro" for="login">Login</label></li>
          <li><label class="palabrasLoginRegistro" for="registro">Registro</label></li>
          <li><a href="/mis-entradas">Mis entradas</a></li>
        </ul>
      </div>
      <div class="header-abajo col-12">
        <div>
          <a href="/uruguay">
            <img class="banderas" src="https://dhgrupo12ad.alwaysdata.net/banderaUruguay.png"
          /></a>
        </div>
        <div>
          <a href="/chile"
            ><img class="banderas" src="https://dhgrupo12ad.alwaysdata.net/banderaChile.png"
          /></a>
        </div>
        <div>
          <a href="/argentina"
            ><img class="banderas" src="https://dhgrupo12ad.alwaysdata.net/banderaArgentina.png"
          /></a>
        </div>
        <div>
          <a href="/paraguay"
            ><img class="banderas" src="https://dhgrupo12ad.alwaysdata.net/banderaParaguay.png"
          /></a>
        </div>
      </div>
    </header>
    <main>
      <img class="copa-del-mundo" src="https://dhgrupo12ad.alwaysdata.net/CopaDelMundo2.png" />
      <div class="tiempo">
        <h2>Tiempo hasta el saque inicial: xx:xx:xx:xx</h2>
      </div>
      <div class="boxes">
        <div class="card" id="noticias">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/noticias1.jpeg" />
          <h3>Descubri todas las noticias sobre el mundial!</h3>
        </div>
        <div class="card" id="cancion">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/cancionMundial.jpeg" />
          <h3>Escucha la cancion oficial del mundial!</h3>
        </div>
        <div class="card" id="arte">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/arteMundial.jpeg" />
          <h3>Mira todo el arte de los fan!</h3>
        </div>
        <div class="card" id="mascota">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/mascotaMundial.jpeg" />
          <h3>Conoce a la mascota del mundial!</h3>
        </div>
        <br />
      </div>
      <div class="conoce col-10" id="conoce-estadios">
        <div>
          <h1>Conoce los estadios!</h1>
          <p>
            Conoce los magicos lugares que acompañan nuestra pasión centenaria,
            como llegar a los mismos, su historia y algunos datos!
          </p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/estadioCentenarioMundial.jpeg" />
      </div>

      <div class="conoce col-10 offset-2" id="conoce-equipos">
        <img src="https://dhgrupo12ad.alwaysdata.net/seleccionArgentina.webp" />
        <div>
          <h1>Conoce los a equipos!</h1>
          <p>
            Conoce los magicos lugares que acompañan nuestra pasión centenaria,
            como llegar a los mismos, su historia y algunos datos!
          </p>
        </div>
      </div>

      <div class="conoce col-10" id="conoce-fanaticos">
        <div>
          <h1>Fanaticos!</h1>
          <p>Para todos los fanaticos del mundo</p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/hinchadaChile.jpeg" />
      </div>
      <div class="conoce col-10 offset-2" id="conoce-valores">
        <img src="https://dhgrupo12ad.alwaysdata.net/paraguayHimno.jpeg" />
        <div>
          <h1>Conoce nuestros valores!</h1>
          <p>
            Nuestro compromiso es en todos los aspectos, asi vivimos el futbol y
            el mundial
          </p>
        </div>
      </div>

      <div class="conoce col-10" id="conoce-prode">
        <div>
          <h1>Prode Mundialista!</h1>
          <p>
            Animate al prode y gana premios increibles desde remeras e
            indumentaria hasta unos boletos para ir a ver la gran final!
          </p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/premiosProde.png" />
      </div>
    </main>
    <footer class="footer">
    <h3>
      Main Sponsors
    </h3>
    <div class="sponsors">
      <div ><a href="https://www.adidas.es/futbol"><img src="https://dhgrupo12ad.alwaysdata.net/adidasLogo.webp"  height="106px" width="126px"></a></div>
      <div ><a href="https://www.cocacoladeargentina.com.ar/"><img src="https://dhgrupo12ad.alwaysdata.net/logoCocacola.png" height="106px" width="126px"></a></div>
      <div><a href="https://www.wanda-group.com/"><img src="https://dhgrupo12ad.alwaysdata.net/logoWanda.png" height="106px" width="126px"></a></div>
      <div ><a href="https://www.hyundai.com/"><img src="https://dhgrupo12ad.alwaysdata.net/logoHiundai.webp" height="106px" width="126px"></a></div>
      
    </div>
    
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <!-- LOGIN Y REGISTRO OCULTOS los deje por debajo de todo lo demas para que no interrumpa el resto del html-->
    <div class="loginOculto ocultos">
      <div class="UsuarioFormulario">
          <div class="formBarra">
              <h5>INGRESAR!</h5>
              <label for="nada">X</label>
          </div>

          <form class="FormInputs">
              <label for="email">Email: </label>
              <input type="email" name="email" id="email">
              <br>
              <label for="password">Contraseña: </label>
              <input type="password" name="pass" id="password">
              <br>

              <div><label for="recordarme">Recordarme:</label>
                  <input type="checkbox" id="recordarme">
              </div>
              <br>
              <br>
              <button type="submit"> Ingresar</button>
          </form>
      </div>
      <div class="imagenLoginRegistro"><img src="https://dhgrupo12ad.alwaysdata.net/ImagenLoginRegistro.jpg"></div>
  </div>

  <div class="registroOculto ocultos">
      <div class="UsuarioFormulario">
          <div class="formBarra">
              <h5>REGISTRARSE!</h5>
              <label for="nada">X</label>
          </div>

          <form class="FormInputs">
              <label for="nombre">Nombre: </label>
              <input type="text" name="nombre" id="nombre">
              <br>
              <label for="apellido">Apellido: </label>
              <input type="text" name="apellido" id="apellido">
              <br>
              <label for="correo">Correo: </label>
              <input type="email" name="correo" id="correo">
              <br>
              <label for="telefono">Telefono: </label>
              <input type="tel" name="telefono" id="telefono">
              <br>
              <label for="fechaDeNacimiento">Fecha de nacimiento: </label>
              <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento">
              <br>
              <label for="contrasena">Contraseña: </label>
              <input type="password" name="contrasena" id="contrasena">
              <br>
              <label for="confirmarContrasena">Confirmar contraseña: </label>
              <input type="password" name="confirmarContrasena" id="confirmarContrasena">
              <br>
              

              <div><label for="aceptarTerminos">Acepto los terminos y condiciones:</label>
                  <input type="checkbox" id="aceptarTerminos">
              </div>
              <br>
              <br>
              <button type="submit"> Registrarse</button>
          </form>
      </div>
      <div class="imagenLoginRegistro"><img src="https://dhgrupo12ad.alwaysdata.net/ImagenLoginRegistro.jpg"></div>
  </div>

  <div class="difuminadorTotal">
      <label for="nada"></label>
  </div>
  <!--FIN DE LOGIN Y REGISTRO OCULTOS-->
  </body>
</html>
