<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mundial 2030</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
</head>

<body>
  <header>
    <div class="logo">
      <img height="100px" src="/img/logo mundial.jpg" />
    </div>
    <div>
      <ul class="menu-header">
        <li><a href="/">Inicio</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/mis-entradas">Mis entradas</a></li>
      </ul>
    </div>
    <div class="header-abajo">
      <div>
        <a href="/uruguay">
          <img class="banderas" src="\img\bandera uruguay.png"
        /></a>
      </div>
      <div>
        <a href="/chile"
          ><img class="banderas" src="\img\bandera chile.png"
        /></a>
      </div>
      <div>
        <a href="/argentina"
          ><img class="banderas" src="\img\bandera argentina.png"
        /></a>
      </div>
      <div>
        <a href="/paraguay"
          ><img class="banderas" src="\img\bandera paraguay.png"
        /></a>
      </div>
    </div>
  </header>
  <main>
    <img class="copa-del-mundo" src="\img\Copa del mundo2.png" />
    <div class="tiempo">
      <h2>Tiempo hasta el saque inicial: xx:xx:xx:xx</h2>
    </div>
    <div class="boxes">
      <div class="card" id="noticias">
        <img class="imagen-card" src="\img\noticias 1.jpeg" />
        <h3>Descubri todas las noticias sobre el mundial!</h3>
      </div>
      <div class="card" id="cancion">
        <img class="imagen-card" src="\img\cancion mundial.jpeg" />
        <h3>Escucha la cancion oficial del mundial!</h3>
      </div>
      <div class="card" id="arte">
        <img class="imagen-card" src="\img\arte mundial.jpeg" />
        <h3>Mira todo el arte de los fan!</h3>
      </div>
      <div class="card" id="mascota">
        <img class="imagen-card" src="\img\mascota mundial.jpeg" />
        <h3>Conoce a la mascota del mundial!</h3>
      </div>
    </div>
    <div></div>
  </main>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"
  ></script>
</body>
