.titulo-art {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-align: center;
  
}

.descripcion {
  width: 300px;
}

.imagenes-subir-art {
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.formulario-subir {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #326295;
  font-size: x-large;
  flex-direction: column;
  position: relative;
  align-items: center;
}



.card-arte {
  width: fit-content;
  height: auto;

}
.arteMain {
  border-color: #326295;
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 10px;
  justify-content: center;
  width: 99%;
  gap: 1em;
  flex-flow: row;
  flex-wrap: wrap;
}

.boton-compartir{
  margin-top: 30px;
  height: 2.5cm;
}

.botonesFotos{
  display: flex;
  flex-flow: row;
}

.card-detalles{
  align-items: center;
  position: relative;
  height: 90%;
  width: 90%;
  
}

.mainDetalles{
  align-items: center;
  position: relative;
  
}

.imgDetalles{
  width: 350px;
  height: auto;
  
}