<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mundial 2030</title>
    <link href="/css/styles.css" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <%- include('loginRegistro') %> 
    <%- include('header') %>   
    <main>
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img height="500px" src="https://dhgrupo12ad.alwaysdata.net/fitzRoy.jpg" class="d-block w-100" />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              height="500px"
              src="https://dhgrupo12ad.alwaysdata.net/cataratas.jpeg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item">
            <img height="500px" src="https://dhgrupo12ad.alwaysdata.net/noa3.jpg" class="d-block w-100" />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <h1 class="accordion-header">Argentina</h1>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body texto-pais">
              Argentina es un país ubicado en el extremo sur de América del Sur,
              conocido por su rica historia, paisajes diversos y una cultura
              vibrante. Es una nación llena de contrastes, desde las majestuosas
              cumbres de la Cordillera de los Andes hasta las vastas extensiones
              de la Pampa. Pasando por las cataratas, el norte argentino y los
              glaciares.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              <h1 class="accordion-header">Cultura</h1>
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body texto-pais">
              La cultura de Argentina es diversa y rica en tradiciones,
              reflejando la mezcla de influencias indígenas, europeas y
              africanas que han moldeado su identidad. Desde el tango apasionado
              y los gauchos en las vastas llanuras hasta el arte, la literatura
              y la gastronomía, Argentina ofrece una amalgama fascinante de
              expresiones culturales. La hospitalidad y el gusto por el buen
              vino y la comida son características destacadas de los argentinos,
              quienes disfrutan de largas sobremesas y encuentros sociales.
              <br />
              El deporte en Argentina es más que una simple actividad física, es
              un estilo de vida arraigado en el corazón de su gente. Desde
              temprana edad, los niños son introducidos en un mundo donde el
              fútbol se convierte en una obsesión compartida. Los domingos, los
              estadios de fútbol se llenan de multitudes apasionadas que corean,
              cantan y celebran cada gol con una euforia contagiosa. La camiseta
              albiceleste se ha convertido en un símbolo reconocido en todo el
              mundo, y los colores de Argentina se ondean con orgullo en los
              estadios de fútbol alrededor del globo durante los mundiales.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h1 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              <h1 class="accordion-header">Historia Mundialista</h1>
            </button>
          </h1>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body texto-pais">
              La participación de Argentina en los mundiales de fútbol es una
              historia llena de emociones, momentos épicos y grandes logros. El
              país ha dejado su marca en la historia del fútbol, y los
              aficionados argentinos continúan soñando y celebrando cada vez que
              su selección nacional pisa el césped en busca de la gloria.
            </div>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="https://dhgrupo12ad.alwaysdata.net/argentinaCampeon78.jpeg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Argentina Campeon Mundial 1978</h5>
            <p class="card-text">
              Con su publico en el estadio Monumental, Argentina levantaria la
              copa por primera. La principal figura del conjunto local Mario
              Alberto Kempes, junto a un extraordinario equipo alegrarian las
              calles de todo un pais
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://dhgrupo12ad.alwaysdata.net/argentinaCampeon86.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body1">
            <h5 class="card-title">Argentina Campeón Mundial 1986</h5>
            <p class="card-text">
              Luego de un increible mundial en donde Diego Maradona selló la
              posible mejor actuacion en un mundial con goles increibles y
              jugadas que llevan nombre propio, Argentina levantaría su segunda
              Copa Mundial en el estadio Azteca, en Mexico
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://dhgrupo12ad.alwaysdata.net/argentinaCampeon22.jpeg"
            class="card-img-top"
            
          />
          <div class="card-body">
            <h5 class="card-title">Argentina Campeon Mundial 2022</h5>
            <p class="card-text">
              En la final mas epica de todos los tiempos, luego de un largo
              partido seguido de una emocionante prorroga y unos penales para el
              recuerdo, Argentina y Leo Messi levantarían su tercer copa en
              tierras Qataríes
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer') %> 
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</html>
