<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mundial 2030</title>
    <link href="/css/fanaticos.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header><%- include('loginRegistro') %> <%- include('header') %></header>
  </body>
</html>
