<!DOCTYPE html>
<html>
  <head>
    <%- include("head") %>
  </head>
  <body>
    <header><%- include("header") %></header>
    <main>
      <div class="arteMain">
        <div>
          <img
            src="/img/Lionel-Messi-Argentina-2022-FIFA-World-Cup_(cropped).jpg"
            class="rounded"
            height="400px"
          />
          <button type="button" class="btn btn-danger">
            <i class="fa-regular fa-heart"></i>
          </button>
        </div>
      </div>

      <div>
        <a href="/cards/arte/compartir">
          <button type="button" class="btn btn-primary btn-lg">
            Comparti tu arte
          </button></a
        >
      </div>
    </main>
    <footer><%- include("footer") %></footer>
  </body>
</html>
