<!DOCTYPE html>
<html>
  <head>
    <%- include("head") %>
  </head>
  <body>
    <header><%- include("header") %></header>
    <main>
      <div>
        <a href="/cards/arte/compartir">
          <div class="d-grid boton-compartir">
            <button class="btn btn-primary" type="button">
              Comparti tu arte
            </button>
          </div>
        </a>
      </div>
      <div class="arteMain">
        <div>
          <img
            src="/img/Lionel-Messi-Argentina-2022-FIFA-World-Cup_(cropped).jpg"
            class="rounded"
            height="400px"
          />
          <div class="botonesFotos">
            <form>
              <button type="button" class="btn btn-danger">
                <i class="fa-regular fa-heart"></i>
              </button>
            </form>
            <form>
              <button type="button" class="btn btn-success">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </form>

            <form action='/borrar/<%=arte.id%>?_method=DELETE'>
              <button type="button" class="btn btn-dark">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
            <form>
              <button type="button" class="btn btn-info">
                <i class="fa-solid fa-info" style="color: #ffffff"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include("footer") %></footer>
  </body>
</html>
