<!DOCTYPE html>
<html>
  <head>
    <%- include("head") %>
  </head>
  <body>
    <header><%- include("header") %></header>
    
    <main>
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              height="500px"
              src="https://dhgrupo12ad.alwaysdata.net/paisajeChile1.jfif"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              height="500px"
              src="https://dhgrupo12ad.alwaysdata.net/paisajeChile2.jfif"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item">
            <img
              height="500px"
              src="https://dhgrupo12ad.alwaysdata.net/paisajeChile3.jfif"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header-chile">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <h1 class="accordion-header-chile">Chile</h1>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body texto-pais">
              Chile, ubicado en la parte suroeste de América del Sur, es un país
              que se extiende a lo largo de una estrecha franja entre la
              Cordillera de los Andes y el Océano Pacífico. Su geografía diversa
              abarca una variedad de paisajes impresionantes, desde altas
              montañas y volcanes hasta valles fértiles, desiertos áridos y
              extensas costas. El relieve de Chile es notable por la presencia
              de la cordillera de los Andes en el este, con picos nevados y
              valles glaciares, y la presencia de la cordillera de la Costa en
              el oeste, que se extiende paralela al océano. Estos factores
              geográficos también influyen en la variada población chilena, que
              se concentra principalmente en las regiones centrales del país,
              como la Región Metropolitana de Santiago, donde se encuentra la
              capital, Santiago. Además, existen comunidades indígenas en el
              norte y sur del país, aportando una rica diversidad cultural a la
              nación chilena
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              <h1 class="accordion-header-chile">Cultura</h1>
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body texto-pais">
              La cultura de Chile es un fascinante mosaico de tradiciones
              arraigadas en su historia y diversidad. Con influencias indígenas,
              europeas y otras corrientes migratorias, Chile se enorgullece de
              su patrimonio cultural único. Su arte, literatura y música
              reflejan la identidad chilena, mientras que su gastronomía cautiva
              con platos como el asado, el pastel de choclo y el curanto. Los
              chilenos son conocidos por su hospitalidad y amor por las
              celebraciones, como la Fiestas Patrias y las festividades
              religiosas, donde se exhiben bailes tradicionales y se comparten
              tradiciones ancestrales. La cultura chilena es un tesoro que se
              preserva y comparte con orgullo, enriqueciendo la vida de sus
              habitantes y cautivando a los visitantes de todo el mundo.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h1 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              <h1 class="accordion-header-chile">Historia Mundialista</h1>
            </button>
          </h1>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body texto-pais">
              La historia mundialista de Chile está marcada por notables logros
              y emocionantes momentos en el fútbol. El punto culminante llegó en
              1962, cuando Chile organizó la Copa Mundial de la FIFA. En ese
              torneo, la selección chilena alcanzó las semifinales, un hito sin
              precedentes en su historia futbolística. Bajo la dirección del
              entrenador Fernando Riera y liderados por jugadores destacados
              como Leonel Sánchez y Elías Figueroa, Chile dejó una marca
              indeleble en el torneo. A lo largo de los años, la selección
              chilena también ha ganado la Copa América en varias ocasiones,
              destacando sus triunfos en 2015 y 2016. Estas consagraciones
              reflejan el talento y la pasión de los futbolistas chilenos, así
              como el apoyo inquebrantable de su apasionada afición. El fútbol
              ha dejado una huella imborrable en la historia deportiva de Chile
              y sigue siendo un motivo de orgullo nacional.
            </div>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="https://dhgrupo12ad.alwaysdata.net/copaAmerica2016.jfif" class="card-img-top" />
          <div class="card-body-chile">
            <h5 class="card-title">Campeon Copa America "2015</h5>
            <p class="card-text">
              En 2015, Chile alcanzó una histórica consagración en la Copa
              América. Como anfitrión del torneo, la selección chilena, liderada
              por su capitán Claudio Bravo y con un destacado desempeño de
              jugadores como Alexis Sánchez y Arturo Vidal, desplegó un fútbol
              lleno de pasión y determinación. Este triunfo histórico desató una
              inmensa alegría en todo el país, marcando un hito en el fútbol
              chileno y dejando una huella imborrable en la memoria de los
              fanáticos.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://dhgrupo12ad.alwaysdata.net/copaAmerica2015.jpg" class="card-img-top" />
          <div class="card-body-chile">
            <h5 class="card-title">
              Chile Campeon de la Copa America Centenario
            </h5>
            <p class="card-text">
              En 2016, Chile volvió a consagrarse campeón en la Copa América. En
              una emocionante final disputada en el Estadio MetLife de Nueva
              Jersey, la selección chilena se enfrentó a Argentina por segundo
              año consecutivo. Una vez más, la definición se resolvió en la
              tanda de penales. Con una actuación destacada de Claudio Bravo y
              el gol decisivo de Francisco Silva, Chile se impuso nuevamente
              sobre Argentina, esta vez por 4-2 en los penales. Este
              back-to-back de triunfos en la Copa América marcó un logro
              histórico para Chile, consolidando su posición en el panorama
              futbolístico internacional y llenando de orgullo a su nación.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://dhgrupo12ad.alwaysdata.net/semifinalista1962.jfif" class="card-img-top" />
          <div class="card-body-chile">
            <h5 class="card-title">Mejor actuacion, de local en 1962</h5>
            <p class="card-text">
              En el Mundial de 1962, Chile dejó una huella imborrable como país
              anfitrión. Bajo la dirección del entrenador Fernando Riera, la
              selección chilena hizo historia al llegar a las semifinales. Con
              destacadas actuaciones de jugadores como Leonel Sánchez y Elías
              Figueroa, el equipo chileno emocionó a su afición y al mundo
              entero. A pesar de caer ante Brasil en las semifinales, Chile se
              consagró en el tercer puesto al vencer a Yugoslavia. Este
              desempeño destacado en el Mundial de 1962 dejó una marca indeleble
              en la historia futbolística de Chile y sigue siendo recordado con
              orgullo por los fanáticos del fútbol en el país.
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer') %> 
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</html>
