<!DOCTYPE html>
<html>
  <head>
    <%- include("head") %>
  </head>
  <body>
    <header><%- include('loginRegistro') %> <%- include('header') %></header>
    <main>
      <div class="titulo-art">
        <h1>Muestra tu arte con el mundo!</h1>
        <h4>
          Comparti imagenes, fotos, dibujos, canciones o lo que quieras para que
          fanaticos de todo el mundo puedan compartir tu pasion
        </h4>
      </div>
      <div class="container products-wrapper formulario-subir">
        <div class="row">
          <div class="col-12">
            <form action="/cards/arte/compartir" method="POST" enctype="multipart/form-data">
              <div class="row product-detail">
                <div class="col-12 col-md-6">
                  <label for="name" class="form-label"
                    >Tu nombre y apellido</label
                  >
                  <input
                    type="text"
                    id="autor"
                    name="autor"
                    class="form-input"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="price" class="form-label"
                    >Nombre de la obra</label
                  >
                  <input
                    type="text"
                    id="price"
                    name="obra"
                    class="form-input"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="price" class="form-label">Lugar de origen</label>
                  <input
                    type="text"
                    id="origen"
                    name="origen"
                    class="form-input"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="category" class="form-label">Categoría:</label>
                  <select name="categoria" id="categoria" class="form-input">
                    <option value="">Elegí</option>
                    <option value="in-sale">Foto</option>
                    <option value="visited">Dibujo</option>
                  </select>
                </div>

                <br />
                <br />
                <br />
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label"
                  >Seleccione el archivo que desea subir</label
                >
                <input class="form-control" name="imageProduct" type="file" id="formFile" />
              </div>

              <div class="col-12">
                <label for="description" class="form-label">Descipción:</label>
                <textarea
                  name="descripcion"
                  id="descripcion"
                  class="form-input"
                ></textarea>
              </div>

              <div class="col-12">
              
                  <button type="submit" class="buy-now-button">Subir</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('footer') %></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
