<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>FIFA World Cup</title>
    <link href="/css/fanaticos.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>

    <%- include('loginRegistro') %> 
    <%- include('header') %> 
    </header>
    
    
    
    <main>
        <h1>Bienvenidos fanaticos del mundo!</h1>
        
        <p>Existen incontables tipos de hinchadas, fanaticos, pasion y muchas cosas mas en cada rincon del mundo. Aqui todos son permitidos, queremos ver la pasion de cada pais, el entusiasmo, las ganas y la emocion. Fanaticos cantando, alentando, bailando e infinidad de cosas para sentir la vibra de su pais con el resto de su gente, creando momentos que no se podrian recrear nunca mas, momentos inigualables y emotivos.</p>

        <div class="side-images">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/d7/12/bc/fifa-world-football-museum.jpg?w=1200&h=-1&s=1" alt="Side Image 1">
            <img src="https://www.fullesports.com/wp-content/uploads/2020/08/MESSI-PNG.jpg" alt="Side Image 2">
        </div>
        
        <div class="highlight">
            <h2>Fifa Museum</h2>
            <img src="https://www.zuerich.com/sites/default/files/image/2023/web_zuerich_museum_fifa_museum_1280x960_46629.jpg" alt="Fifa Museum Image">
            <h3>Bienvenidos a nuestro museo!</h3>
        </div>
        
        <div class="highlight">
            <h2>EaSports X Fifa</h2>
            <img src="https://assetsio.reedpopcdn.com/1.-EA-SPORTS-FC-x-New-logo.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp" alt="EaSports X Fifa Image">
            <h3>El videojuego de toda persona fanatica</h3>
        </div>
        
        <div class="highlight">
            <h2>Art festival</h2>
            <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/01/best-art-contests-thumbnail.jpg" alt="Art Competition Image">
            <h3>Su arte para darlo a ver al mundo</h3>
        </div>
        <div class="highlight">
            <h2>Coca Cola Fan Fest</h2>
            <img src="https://www.sdpnoticias.com/resizer/Bt1xIHjLLFwhCOzhDE2R-X9q_tI=/arc-photo-sdpnoticias/arc2-prod/public/Q5DWVAQELZCU7BCSM72EZXYC7A.jpeg" alt="Coca-Cola fan fest image">
            <h3>Nunca puede faltar</h3>
        </div>
        
        <div class="side-images">
            <img src="https://en.coca-colaarabia.com/content/dam/one/me/en/homepage/carousel/Coca-Cola%20FIFA%20Fan%20Festival%20Riyadh(1).jpg" alt="Side Image 3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdMxzowl1i3n7KRF9x0Kae6c2azIvoz2XHhQ&usqp=CAU" alt="Side Image 4">
        </div>
    </main>
    
    <footer>
        <%- include('footer') %> 
    </footer>
</body>
</html>
