<footer class="footer">
    <h3>
      Main Sponsors
    </h3>
    <div class="sponsors">
      <div ><a href="https://www.adidas.es/futbol"><img src="https://dhgrupo12ad.alwaysdata.net/adidasLogo.webp"  height="106px" width="126px"></a></div>
      <div ><a href="https://www.cocacoladeargentina.com.ar/"><img src="https://dhgrupo12ad.alwaysdata.net/logoCocacola.png" height="106px" width="126px"></a></div>
      <div><a href="https://www.wanda-group.com/"><img src="https://dhgrupo12ad.alwaysdata.net/logoWanda.png" height="106px" width="126px"></a></div>
      <div ><a href="https://www.hyundai.com/"><img src="https://dhgrupo12ad.alwaysdata.net/logoHiundai.webp" height="106px" width="126px"></a></div>
      
    </div>
    
    </footer>