<header>
  <div class="logo">
    <a href="/"
      ><img
        height="100px"
        src="https://dhgrupo12ad.alwaysdata.net/logoMundial.jpg"
    /></a>
  </div>
  <div>
    <ul class="menu-header">
      <li><a href="/">Inicio</a></li>
      <li><a href="/tickets">Tickets</a></li>
      <li><label class="palabrasLoginRegistro" for="login">Login</label></li>
      <li>
        <label class="palabrasLoginRegistro" for="registro">Registro</label>
      </li>
      <li><a href="/mis-entradas">Mis entradas</a></li>
    </ul>
  </div>
  <div class="header-abajo col-12">
    <div>
      <a href="/anfitriones/uruguay">
        <img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaUruguay.png"
      /></a>
    </div>
    <div>
      <a href="/anfitriones/chile"
        ><img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaChile.png"
      /></a>
    </div>
    <div>
      <a href="/anfitriones/argentina"
        ><img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaArgentina.png"
      /></a>
    </div>
    <div>
      <a href="/anfitriones/paraguay"
        ><img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaParaguay.png"
      /></a>
    </div>
  </div>
</header>
