<header>
  <%- include("loginRegistro") %>
  <div class="logo">
    <a href="/"
      ><img
        height="100px"
        src="https://dhgrupo12ad.alwaysdata.net/logopng.png"
    /></a>
  </div>
  <div>
    <ul class="menu-header">
      <li><a href="/">Inicio</a></li>
      <% if(usuarioLogeado){%>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/perfil">Mi Perfil</a></li>
        <li><a href="/cerrar-sesion">Cerrar Sesión</a></li>
        <% } else { %>
      <li><label class="palabrasLoginRegistro" for="login">Login</label></li>
      <li><label class="palabrasLoginRegistro" for="registro">Registro</label></a></li>
      <% } %>
    </ul>
  </div>
  <div class="header-abajo col-12">
    <div>
      <a href="/anfitriones/uruguay">
        <img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaUruguay.png"
      /></a>
    </div>
    <div>
      <a href="/anfitriones/chile"
        ><img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaChile.png"
      /></a>
    </div>
    <div>
      <a href="/anfitriones/argentina"
        ><img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaArgentina.png"
      /></a>
    </div>
    <div>
      <a href="/anfitriones/paraguay"
        ><img
          class="banderas"
          src="https://dhgrupo12ad.alwaysdata.net/banderaParaguay.png"
      /></a>
    </div>
  </div>
</header>
