<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mundial 2030</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <%- include('loginRegistro') %> 
    <%- include('header') %>  
    <main>
      <img class="copa-del-mundo" src="https://dhgrupo12ad.alwaysdata.net/CopaDelMundo2.png" />
      <div class="tiempo">
        <h2>Tiempo hasta el saque inicial: xx:xx:xx:xx</h2>
      </div>
      <div class="boxes">
        <div class="card" id="noticias">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/noticias1.jpeg" />
          <h3>Descubri todas las noticias sobre el mundial!</h3>
        </div>
        <div class="card" id="cancion">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/cancionMundial.jpeg" />
          <h3>Escucha la cancion oficial del mundial!</h3>
        </div>
        <div class="card" id="arte">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/arteMundial.jpeg" />
          <h3>Mira todo el arte de los fan!</h3>
        </div>
        <div class="card" id="mascota">
          <img class="imagen-card" src="https://dhgrupo12ad.alwaysdata.net/mascotaMundial.jpeg" />
          <h3>Conoce a la mascota del mundial!</h3>
        </div>
        <br />
      </div>
      <div class="conoce col-10" id="conoce-estadios">
        <div>
          <h1>Conoce los estadios!</h1>
          <p>
            Conoce los magicos lugares que acompa침an nuestra pasi칩n centenaria,
            como llegar a los mismos, su historia y algunos datos!
          </p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/estadioCentenarioMundial.jpeg" />
      </div>

      <div class="conoce col-10 offset-2" id="conoce-equipos">
        <img src="https://dhgrupo12ad.alwaysdata.net/seleccionArgentina.webp" />
        <div>
          <h1>Conoce los a equipos!</h1>
          <p>
            Conoce los magicos lugares que acompa침an nuestra pasi칩n centenaria,
            como llegar a los mismos, su historia y algunos datos!
          </p>
        </div>
      </div>

      <div class="conoce col-10" id="conoce-fanaticos">
        <div>
          <h1>Fanaticos!</h1>
          <p>Para todos los fanaticos del mundo</p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/hinchadaChile.jpeg" />
      </div>
      <div class="conoce col-10 offset-2" id="conoce-valores">
        <img src="https://dhgrupo12ad.alwaysdata.net/paraguayHimno.jpeg" />
        <div>
          <h1>Conoce nuestros valores!</h1>
          <p>
            Nuestro compromiso es en todos los aspectos, asi vivimos el futbol y
            el mundial
          </p>
        </div>
      </div>

      <div class="conoce col-10" id="conoce-prode">
        <div>
          <h1>Prode Mundialista!</h1>
          <p>
            Animate al prode y gana premios increibles desde remeras e
            indumentaria hasta unos boletos para ir a ver la gran final!
          </p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/premiosProde.png" />
      </div>
    </main>
    <%- include('footer') %> 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
