<!DOCTYPE html>
<html>
  <head>
    <%- include("head") %>
  </head>

  <body>
    <header><%- include("header") %></header>
    <main>
      <a href="/partidos"><img
        class="copa-del-mundo"
        src="https://dhgrupo12ad.alwaysdata.net/CopaDelMundo2.png"
      /></a>
      <div class="tiempo">
        <p id="demo"></p>
        <h2>
          <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Jun 13, 2026 15:37:25").getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {
              // Get today's date and time
              var now = new Date().getTime();

              // Find the distance between now and the count down date
              var distance = countDownDate - now;

              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor(
                (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
              );
              var minutes = Math.floor(
                (distance % (1000 * 60 * 60)) / (1000 * 60)
              );
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              // Display the result in the element with id="demo"
              document.getElementById("demo").innerHTML =
                days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

              // If the count down is finished, write some text
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML =
                  "A jugar! 8/8/2023, desde un tren Ros-Baires";
              }
            }, 1000);
          </script>
        </h2>
      </div>
      <div class="boxes">
        <div class="card" id="noticias">
          <img
            class="imagen-card"
            src="https://dhgrupo12ad.alwaysdata.net/noticias1.jpeg"
          />
          <h3>Descubri todas las noticias sobre el mundial!</h3>
        </div>
        <div class="card" id="cancion">
          <a href="https://www.youtube.com/watch?v=vyDjFVZgJoo">
            <img
              class="imagen-card"
              src="https://dhgrupo12ad.alwaysdata.net/cancionMundial.jpeg"
            />
            <h3>Escucha la cancion oficial del mundial!</h3></a
          >
        </div>
        <div class="card" id="arte">
          <a href="/cards/arte">
            <img
              class="imagen-card"
              src="https://dhgrupo12ad.alwaysdata.net/arteMundial.jpeg"
            />
            <h3>El arte del Mundial!</h3>
          </a>
        </div>
        <div class="card" id="mascota">
          <img
            class="imagen-card"
            src="https://dhgrupo12ad.alwaysdata.net/mascotaMundial.jpeg"
          />
          <h3>Conoce a la mascota del mundial!</h3>
        </div>
        <br />
      </div>
      <div class="conoce col-10" id="conoce-estadios">
        <div>
          <h1>Conoce los estadios!</h1>
          <p>
            Conoce los magicos lugares que acompa침an nuestra pasi칩n centenaria,
            como llegar a los mismos, su historia y algunos datos!
          </p>
        </div>
        <a href="/bars/estadios"
          ><img
            src="https://dhgrupo12ad.alwaysdata.net/estadioCentenarioMundial.jpeg"
        /></a>
      </div>

      <div class="conoce col-10 offset-2" id="conoce-equipos">
        <a href="/bars/equipos">
          <img src="https://dhgrupo12ad.alwaysdata.net/seleccionArgentina.webp"
        /></a>
        <div>
          <h1>Conoce los a equipos!</h1>
          <p>
            Conoce los magicos lugares que acompa침an nuestra pasi칩n centenaria,
            como llegar a los mismos, su historia y algunos datos!
          </p>
        </div>
      </div>

      <div class="conoce col-10" id="conoce-fanaticos">
        <div>
          <h1>Fanaticos!</h1>
          <p>Para todos los fanaticos del mundo</p>
        </div>
        <a href="/fanaticos"
          ><img src="https://dhgrupo12ad.alwaysdata.net/hinchadaChile.jpeg" />
        </a>
      </div>
      <div class="conoce col-10 offset-2" id="conoce-valores">
        <img src="https://dhgrupo12ad.alwaysdata.net/paraguayHimno.jpeg" />
        <div>
          <h1>Conoce nuestros valores!</h1>
          <p>
            Nuestro compromiso es en todos los aspectos, asi vivimos el futbol y
            el mundial
          </p>
        </div>
      </div>

      <div class="conoce col-10" id="conoce-prode">
        <div>
          <h1>Prode Mundialista!</h1>
          <p>
            Animate al prode y gana premios increibles desde remeras e
            indumentaria hasta unos boletos para ir a ver la gran final!
          </p>
        </div>
        <img src="https://dhgrupo12ad.alwaysdata.net/premiosProde.png" />
      </div>
    </main>
    <%- include('footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
