<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head") %>

  </head>
  <body>
    <header><%- include("header") %></header>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Jugadores de Fútbol</h1>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Jugador 1</h5>
            <p class="mb-1">Número: 10</p>
            <p class="mb-0">Posición: Delantero</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Jugador 2</h5>
            <p class="mb-1">Número: 5</p>
            <p class="mb-0">Posición: Defensor</p>
          </a>
          <!-- Agrega más jugadores aquí -->
        </div>
      <!-- Agrega más jugadores aquí -->
    </div>
  </body>
  <footer><%- include('footer') %></footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</html>
