<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('loginRegistro') %> 
    <%- include('header') %>  
    <main>
        <section class="compraEntradas">
            <div>
                <h2>SELECCIONE LAS ENTRADAS QUE DESEA:</h2>
                <div class="formularioCompra">
                    <form action="">
                        <label for="listaEntradas">Seleccione el partido:</label>
                        <select id="listaEntradas">
                            <option value="ticketUno">FECHA 1: EQUIPO A vs EQUIPO B</option>
                            <option value="ticketDos">FECHA 2: EQUIPO B vs EQUIPO C</option>
                            <option value="ticketTres">FECHA 3: EQUIPO D vs EQUIPO E</option>
                        </select>

                        <label for="cantidadEntradas">Cantidad de entradas: </label>
                        <input type="number" name="cantidadEntradas" id="cantidadEntradas" min="1" value="1">

                        <label for="sectorEntrada">Sector: </label>
                        <select id="sectorEntrada">
                            <option value="sectorUno">TRIBUNA A</option>
                            <option value="sectorDos">TRIBUNA B</option>
                            <option value="sectorTres">TRIBUNA C</option>
                        </select>

                        <label for="filaEntrada">FILA: </label>
                        <select id="filaEntrada">
                            <option value="sectorUno">A</option>
                            <option value="sectorDos">B</option>
                            <option value="sectorTres">C</option>
                        </select>

                        <label for="columnaEntrada">COLUMNA: </label>
                        <select id="columnaEntrada">
                            <option value="sectorUno">1</option>
                            <option value="sectorDos">2</option>
                            <option value="sectorTres">3</option>
                        </select>

                        <button type="submit"> Confirmar selección</button>
                    </form>
                </div>
                <br>
                <br>
                <div class="resumenEntradas">
                    <h4>Informacion de sus entradas:</h4>
                    <p>
                    <h6>Entrada 1: </h6>

                    <span>FECHA 1: EQUIPO A vs EQUIPO B</span> <br>
                    <span>TRIBUNA: C</span><br>
                    <span>FILA: A</span><br>
                    <span>COLUMNA: 3</span><br>
                    </p>
                    <br>
                    <p>

                    <p>
                    <h6>Entrada 1: </h6>

                    <span>FECHA 1: EQUIPO A vs EQUIPO B</span> <br>
                    <span>TRIBUNA: C</span><br>
                    <span>FILA: A</span><br>
                    <span>COLUMNA: 2</span><br>
                    </p>

                </div>
            </div>
            <div>
                <h2>Informacion de pago:</h2>
                <div class="formularioInfoPago">
                    <form action="">
                        <label for="tarjeta">TARJETA: </label>
                        <select id="tarjeta">
                            <option value="visa">VISA</option>
                            <option value="mastercard">MasterCard</option>
                            <option value="americanexpress">AmericanExpress</option>
                        </select>

                        <label for="tarjetaTitular">Nombre completo del titular: </label>
                        <input type="text" name="tarjetaTitular" id="tarjetaTitular">

                        <label for="tarjetaNumero">Numero de tarjeta: </label>
                        <input type="text" name="tarjetaNumero" id="tarjetaNumero">

                        <label for="tarjetaVencimiento">Fecha de vencimiento: </label>
                        <input type="date" name="tarjetaVencimiento" id="tarjetaVencimiento">

                        <label for="tarjetaCodigo">Codigo de seguridad: </label>
                        <input type="text" name="tarjetaCodigo" id="tarjetaCodigo" maxlength="4">

                        <label for="tarjetaCuotas">Pagar en cuotas: </label>
                        <select id="tarjetaCuotas">
                            <option value="0Cuotas">Sin cuotas</option>
                            <option value="3Cuotas">3 cuotas</option>
                            <option value="6Cuotas">6 cuotas</option>
                            <option value="12Cuotas">12 cuotas</option>
                        </select>

                        <p><h6>Resumen de compra:</h6>
                        <span>2 entradas x $25.000</span><br>
                        <br>
                        <h6>Total a pagar: $50.000</h6></p>

                        <button type="submit"> Confirmar compra</button>

                    </form>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>