<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("head") %>
  </head>
  <body>
    <header><%- include("header") %></header>
    <main>
      <div class="titulo-valores">
        El fútbol sudamericano es mucho más que un simple deporte; es una
        manifestación de valores profundos arraigados en la cultura y la
        historia de la región. Estos valores no solo se manifiestan en la
        cancha, sino que también trascienden más allá de los 90 minutos de
        juego. Aquí exploraremos tres valores fundamentales que definen el
        fútbol sudamericano y cómo estos valores influyen en la vida de los
        jugadores, los aficionados y la sociedad en general.
      </div>
      <div class="card-valores">
        <h2>Compromiso con los Fanáticos:</h2>
        <p>
          El fútbol sudamericano se distingue por su compromiso inquebrantable
          con los fanáticos. En ningún otro lugar del mundo se siente una pasión
          tan apasionada y apasionante. Los jugadores comprenden que no solo
          representan a sus clubes o selecciones nacionales, sino que también
          son embajadores de los sueños y esperanzas de millones de personas.
          Este compromiso es una responsabilidad sagrada que los jugadores
          aceptan con humildad y gratitud. En cada celebración de gol, en cada
          esfuerzo desinteresado por la camiseta, los jugadores sudamericanos
          muestran su lealtad inquebrantable a los fanáticos que los alientan en
          las buenas y las malas.
        </p>
      </div>
      <div class="card-valores">
        <h2>Compromiso con el Juego Limpio/Fair Play:</h2>
        <p>
          El fair play es un pilar fundamental del fútbol sudamericano. Los
          jugadores entienden que la victoria no debe lograrse a cualquier
          costo. La región ha dado lugar a algunos de los jugadores más
          talentosos y elegantes de la historia del fútbol, quienes han dejado
          una huella imborrable por su juego limpio y respeto hacia sus rivales.
          En los momentos de tensión y rivalidad, los jugadores sudamericanos
          demuestran una ética deportiva ejemplar, respetando las reglas del
          juego y mostrando un profundo aprecio por sus oponentes. Este
          compromiso con el fair play es un recordatorio de que el éxito y la
          grandeza solo tienen significado si se alcanzan con honor y respeto.
        </p>
      </div>
      <div class="card-valores">
        <h2>El Deporte como Unidad entre Personas:</h2>
        <p>
          El fútbol sudamericano trasciende fronteras y diferencias culturales,
          uniendo a personas de diversos orígenes y creencias en una pasión
          compartida. Los estadios son templos de convivencia, donde aficionados
          de todas las edades y procedencias se reúnen para celebrar la belleza
          del juego. En un mundo a menudo dividido, el fútbol sudamericano
          demuestra que el deporte puede ser un poderoso agente de unidad. La
          pasión compartida por el fútbol crea un sentido de comunidad y
          hermandad que va más allá de las rivalidades en el campo, promoviendo
          valores de solidaridad, amistad y respeto mutuo.
        </p>
      </div>
      <div class="conclusion-valores">
        <p>
          El fútbol sudamericano es un reflejo de los valores que la región
          abraza con fervor: compromiso con los fanáticos, juego limpio y la
          capacidad del deporte para unir a las personas. A través de esta
          pasión desenfrenada, los jugadores sudamericanos nos recuerdan que el
          fútbol es mucho más que un simple juego; es una expresión de la
          identidad, la cultura y los valores que definen a la región. En un
          mundo en constante cambio, el fútbol sudamericano se mantiene como un
          faro de valores sólidos que inspiran a todos los amantes del deporte
          en todo el mundo.
        </p>
      </div>

      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
      ></script>
    </main>
    <footer><%- include('footer') %></footer>
  </body>
</html>
